@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main-text: #fff;
    --color-button: #FF4820;
    --color-text-h2: #81AFDD;
    --background-body: #040C18;
    --color-text-linear-gradient: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
    --background-footer: #031B34;
    --color-black: #000;
}

body {
    background: var(--background-body);
    font-family: 'Manrope', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/blur-background-left.png);
    background-repeat: no-repeat;
    background-position: top left;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-main-text);
}

.container {
    display: flex;
    max-width: 1440px;
    margin-top: 55px;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    margin-right: 69px;
    width: 63px;
    height: 16px;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



nav {
    margin-right: 237px;
}

ul {
    list-style: none;
    display: flex;
    gap: 54px;
}

ul li a {
    font-size: 18px;
    font-weight: 500;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    font-size: 18px;
    font-weight: 500;
}

#button-header {
    width: 152px;
    height: 58px;
    background-color: var(--color-button);
    border: none;
    border-radius: 5px;
    margin-left: 26px;
}

.content {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    padding-top: 103px;
    position: relative;
}

#background-right-content {
    width: 701px;
    height: 496px;
    position: absolute;
    background-image: url(/assets/blur-backgroud-right.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    right: -20vw;
    top: 40vh;
}

.content .content-main {
    display: flex;
}

.content .title {
    display: flex;
    flex-direction: column;
}

.content .title h1 {
    font-size: 62px;
    font-weight: 800;
    background: var(--color-text-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 644px;
}

.content .title h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text-h2);
    padding-top: 33px;
    max-width: 570px;
    padding-bottom: 33px;

}

.content .title input {
    /* margin-top: 33px; */
    border: none;
    width: 456px;
    height: 63px;
    opacity: 0.3;
    background-color: #052D56;
    color: #3D6184;
    padding-left: 32px;
    font-size: 20px;
    outline: none;

}

.content .title .input button {
    width: 174px;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--color-button);
    color: var(--color-main-text);
    font-weight: 700;
    font-size: 20px;

}

.content .image-content img {
    width: 668px;
    height: 700px;
    transform: translate(10%, -12%);
}

.title .persons {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.title .persons p {
    font-size: 12px;
    color: var(--color-main-text);
    margin-left: 14px;
}

.companies {
    padding: 79px 0 127px 0;
}

.company-logos {
    display: flex;
    gap: 47px;
    justify-content: center;
}

.infos {
    background-image: url(/assets/blur-top-infos.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    background-color: var(--color-black);
    margin-bottom: 150px;
}

.infos::after {
    content: "";
    background-image: url(/assets/blur-bottom-infos.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}


hr {
    width: 38px;
    height: 3px;
    margin-bottom: 5px;
    background: var(--color-text-linear-gradient);
    border: 0;
}

.header-info {
    display: flex;
    padding: 57px 73px 90px 73px;

}

.header-info .title-info {
    color: var(--color-main-text);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 800;
    padding-right: 154px;
    letter-spacing: -0.96px;
    width: 100%;
}

.header-info .subtitle-info h2 {
    color: var(--color-text-h2);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    /* 187.5% */
    /* max-width: 730px; */
}

.middle-info {
    display: flex;
    padding: 0 57px 92px 57px;
    align-items: center;

}

.middle-info .title-middle {
    color: var(--color-main-text);
    font-family: Manrope;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    max-width: 470px;
    margin-right: 500px;
    background: var(--color-text-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.middle-info .subtitle-middle {
    font-size: 16px;
    font-weight: 500;
    color: #FF8A71;
    margin-left: auto;
}

.footer-info {
    display: flex;
    width: 100%;
    padding: 0 57px 63px 57px;
    gap: 20px;
}

.footer-info h1 {
    color: var(--color-main-text);
    font-family: Manrope;
    font-size: 24px;
    margin-bottom: 26px;
    font-weight: 800;
    letter-spacing: -0.96px;
}

.footer-info h2 {
    color: var(--color-text-h2);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}


.table {
    width: 1440px;
    padding-top: 12.5rem;
    display: flex;
    background-image: url(assets/blur-section-infos-table.png);
    background-repeat: no-repeat;
    background-position: left;
}

.table .infos-table-title {
    font-size: 2.125rem;
    font-weight: 800;
    max-width: 426px;

    margin-right: 200px;
    background: var(--color-text-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.infos-table .card {
    display: flex;
    gap: 6.1875rem;
    padding-bottom: 3.25rem;

}

.card .card-title {
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--color-main-text);
    /* padding-bottom: 3.25rem */
    max-width: 180px;
    margin-right: 100px;
}

.card .card-description {
    font-size: .875rem;
    font-weight: 500;
    color: var(--color-text-h2);
    max-width: 334px;
}

.vr-image {
    display: flex;
    width: 1440px;
    margin-top: 8rem
}

.vr-image figure {
    margin-right: 30px
}

.vr-image .text-right-figure {
    display: flex;
    padding-top: 300px;
    flex-direction: column;
}

.text-right-figure h3:first-child {
    color: #71E5FF;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: .635rem;
}

.text-right-figure h3:last-child {
    color: #F49867;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: .635rem;
}

.text-right-figure h1 {
    background: var(--color-text-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 26.625rem;
    margin-bottom: 1.4375rem;
}

.text-right-figure p {
    color: var(--color-text-h2);
    font-size: 16px;
    font-weight: 400;
    width: 29.9375rem;
    margin-bottom: 1.9375rem;
}

.register {
    display: flex;
    justify-content: space-between;
    margin-top: 9.6875rem;
    background: var(--color-text-linear-gradient);
    width: 100%;
    height: 173px;
    border-radius: .6875rem;
    margin-bottom: 9.6875rem;
}

.register .text-register {
    padding: 47px;
}

.register .text-register h3 {
    color: #0E0E0E;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
}

.register .text-register h1 {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 800;
    line-height: 45px;
}

.register .button-register {
    display: flex;
    align-items: center;
    margin-right: 39px;
}

.register .button-register button {
    border: none;
    width: 189px;
    height: 59px;
    border-radius: 40px;
    background: var(--color-black);
    color: var(--color-main-text);
}

.cards-blog {
    width: 1440px;
    padding-bottom: 154px;
}

.cards-blog .blog-title {
    padding-bottom: 7.25rem;
}

.cards-blog .blog-title h1 {
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    width: 701px;
    /* 120.968% */
    letter-spacing: -2.48px;
    background: var(--color-text-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.articles {
    display: grid;
    grid-template-areas:
        "big small small"
        "big small small"
    ;

}

.article-big {
    background: var(--background-footer);
    max-width: 418px;
    max-height: 697px;
    margin-right: 50px;
    border-radius: 40px 0 0 0;
}

.title-article-1 {
    padding: 33px 50px 26px 26px;

}

.article-big h2 {
    color: var(--color-main-text);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.287px;
    margin-bottom: 187px;

}

.article-big h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    color: var(--color-main-text);
    padding-bottom: 13px;

}

.articles-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;

}

.article-table-small {
    background: var(--background-footer);
    width: 328px;
    /* max-height: 324px; */
    border-radius: 40px 0 0 0;
}

.article-table-small-container {
    padding: 7px 18px 14px 25px;
}

.article-table-small h2 {
    color: var(--color-main-text);
    font-size: 19.315px;
    font-weight: 800;
    line-height: 30.287px;
    margin-bottom: 40px;
}

.article-table-small h3 {
    color: var(--color-main-text);
    font-size: 11.649px;
    font-weight: 700;
    line-height: 34.947px;
}

.footer {
    background: var(--background-footer);
    width: 100vw;
}


.footer .title-footer {
    padding: 175px 310px 64px 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .title-footer h1 {
    text-align: center;
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -2.48px;
    background: var(--color-text-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 64px;
}


.title-footer .button-footer button {
    border: 1px solid var(--color-main-text);
    background: transparent;
    width: 280px;
    height: 65px;
    flex-shrink: 0;
    color: var(--color-main-text);
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}

.footer-navigation {
    display: flex;
    max-width: 1029px;
    width: 100%;
    margin: 0 auto;

}

.navigation-logo img {
    width: 118px;
    height: 30px;
    margin-bottom: 25px;
}

.navigation-logo h3 {
    color: var(--color-main-text);
    font-size: 12px;
    font-weight: 400;
    width: 168px;
    margin-right: 200px;
}

.navigation-menu {
    display: flex;
    gap: 130px;
    width: 100%;


}

.navigation-menu h3 {
    color: var(--color-main-text);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 35px;
}

.navigation-menu li {
    text-decoration: none;
    list-style: none;
    padding-bottom: 26px;
}

.navigation-menu a {
    font-size: 12px;
}

.footer .footer-bottom {
    color: var();
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}