@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-links: #fff;
    --color-button: #FF4820;
}

body {
    background: #040C18;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/blur-background-left.png);
    background-repeat: no-repeat;
    /* background-position: left; */
    background-size: cover;

}

a {
    text-decoration: none;
    color: var(--text-color-links);
}

.container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 55px 135px 27px 135px;
    justify-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .menu ul {
    display: flex;
    list-style: none;
    gap: 54px;
}

header .menu a {
    font-size: 18px;
    font-weight: 500;
    /* padding-left: 26px; */
}

header .button {
    display: flex;
    align-items: center;
    justify-content: center;

}

header .button a {
    font-size: 18px;
    font-weight: 500;
}



header #button-header {
    width: 152px;
    height: 58px;
    background-color: var(--color-button);
    border: none;
    border-radius: 5px;
    margin-left: 27px;
}

.content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    padding-top: 103px;
}

.content .content-main {
    display: flex;
}

.content .title {
    display: flex;
    flex-direction: column;
}

.content .title h1 {
    font-size: 62px;
    font-weight: 800;
    background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 644px;
}

.content .title h2 {
    font-size: 20px;
    font-weight: 400;
    color: #81AFDD;
    padding-top: 33px;
    max-width: 570px;
    padding-bottom: 33px;

}

.content .title input {
    /* margin-top: 33px; */
    border: none;
    width: 456px;
    height: 63px;
    opacity: 0.3;
    background-color: #052D56;
    color: #3D6184;
    padding-left: 32px;
    font-size: 20px;
    outline: none;

}

.content .title .input button {
    width: 174px;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--color-button);
    color: var(--text-color-links);
    font-weight: 700;
    font-size: 20px;

}

.content .image-content img {
    width: 668px;
    height: 700px;
    transform: translate(10%, -12%);
}

.title .persons {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.title .persons p {
    font-size: 12px;
    color: var(--text-color-links);
    margin-left: 14px;
}

.companies {
    padding: 79px 0 127px 0;
}

.company-logos {
    display: flex;
    gap: 47px;
    justify-content: center;
}

.infos {
    background-image: url(/assets/blur-top-infos.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    background-color: black;
    margin-bottom: 150px;
}

.infos::after {
    content: "";
    background-image: url(/assets/blur-bottom-infos.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}


hr {
    width: 38px;
    height: 3px;
    margin-bottom: 5px;
    background: linear-gradient(103deg, #AE67FA -13.86%, #F49867 99.55%), #FFF;
    border: 0;
}

.header-info {
    display: flex;
    padding: 57px 73px 90px 73px;

}

.header-info .title-info {
    color: var(--text-color-links);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 800;
    padding-right: 154px;
    letter-spacing: -0.96px;
    width: 100%;
}

.header-info .subtitle-info {
    color: #81AFDD;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    /* 187.5% */
    /* max-width: 730px; */
}

.middle-info {
    display: flex;
    padding: 0 57px 92px 57px;
    align-items: center;

}

.middle-info .title-middle {
    color: #FFF;
    font-family: Manrope;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    max-width: 470px;
    margin-right: 500px;
    background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.middle-info .subtitle-middle {
    font-size: 16px;
    font-weight: 500;
    color: #FF8A71;
    margin-left: auto;
}

.footer-info {
    display: flex;
    width: 100%;
    padding: 0 57px 63px 57px;
    gap: 20px;
}

.footer-info h1 {
    color: var(--text-color-links);
    font-family: Manrope;
    font-size: 24px;
    margin-bottom: 26px;
    font-weight: 800;
    letter-spacing: -0.96px;
}

.footer-info h2 {
    color: #81AFDD;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}